# MinIO Credentials
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Iceberg REST Catalog
ICEBERG_REST_PORT=8181

# Trino
TRINO_PORT=8080

# Spark
SPARK_MASTER_PORT=7077
SPARK_MASTER_WEBUI_PORT=8081
SPARK_WORKER_WEBUI_PORT=8082

# Airflow
AIRFLOW_IMAGE_NAME=apache/airflow:2.10.4-python3.11
AIRFLOW_UID=50000
AIRFLOW_WEBSERVER_PORT=8085
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow

# PostgreSQL for Airflow
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
POSTGRES_PORT=5432

# External APIs
USDA_API_KEY=your_key