# Environment variables
.env

# Large datasets
data/Trade_DetailedTradeMatrix_E_All_Data_(Normalized)/Trade_DetailedTradeMatrix_E_All_Data.csv
data/catalog/

# Airflow logs and pids
logs/*
!logs/.gitkeep
airflow-webserver.pid
airflow-scheduler.pid

# Python, Build & Jupyter
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/
.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints/
scratch/

# OS metadata
.DS_Store
Thumbs.db
~$*.xlsx

# IDE
.vscode/
.idea/

Bao_cao
docs/*
!docs/ingestion/
!docs/bronze/
!docs/silver/

data/raw/faostat/Trade_DetailedTradeMatrix_E_All_Data_(Normalized)/rice_trade_data.csv